<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Handle CORS preflight
    RewriteCond %{REQUEST_METHOD} OPTIONS
    RewriteRule ^(.*)$ public/index.php [QSA,L]
    
    # Redirect to public folder
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
